In [1]:
print("Helloworld")

Helloworld

In [2]:
print("Line1")
print("Line2")

Line1
Line2

In [3]:
%history

print("Helloworld")
print("Line1")
print("Line2")
%history

In [4]:
# %load abc.py
print("Line1")
print("Line2")
print("Line3")

Line1
Line2
Line3

In [5]:
%run abc.py

Line1
Line2
Line3

In [6]:
%time print("ada")

ada
CPU times: user 996 µs, sys: 127 µs, total: 1.12 ms
Wall time: 1.03 ms

# Python

In [7]:
%time l1 = list(range(1,3000000))
print(l1[:10])

CPU times: user 43.8 ms, sys: 51 ms, total: 94.8 ms
Wall time: 96.6 ms
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
%time [x+5 for x in l1][:10]

CPU times: user 168 ms, sys: 63.8 ms, total: 231 ms
Wall time: 233 ms

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [9]:
for i, e in list(enumerate(l1)):
    l1[i] = l1[i] + 5
l1[:10]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [10]:
for i, e in list(enumerate(l1)):
    l1[i] += 5
l1[:10]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
l1 = [[1,2,3],
     [4,5,6],
     [7,8,9]]

print("Before Adding 5")
print(l1)
print()
for ri, rd in list(enumerate(l1)):
    for ci, cd in list(enumerate(rd)):
        l1[ri][ci] += 5
print("After Adding 5")
print(l1)

Before Adding 5
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

After Adding 5
[[6, 7, 8], [9, 10, 11], [12, 13, 14]]

In [12]:
l1 = [1,2,4]
l1 + 5

TypeError: can only concatenate list (not "int") to list

# Numpy

In [ ]:
def abc():print("pakistan") #python
def abc():print("Hello World") #Numpy
    
abc()

In [13]:
#import numpy as *
import numpy as np

In [14]:
l = [1,3,2]
print(sum(l)) # python function
print(np.sum(l)) # Numpy function

6
6

In [15]:
l1 = np.arange(1,3000000)
%time l1 + 5

CPU times: user 2.98 ms, sys: 7.72 ms, total: 10.7 ms
Wall time: 11.4 ms

array([      6,       7,       8, ..., 3000002, 3000003, 3000004])

In [16]:
l1 = np.arange(1,13)

print("Diminsion:", l1.ndim)
print("Type:", l1.dtype)
print("Size:", l1.size)
print("Itemsize:", l1.itemsize)
print("Shape:", l1.shape)

Diminsion: 1
Type: int64
Size: 12
Itemsize: 8
Shape: (12,)

# A Multidimensional Array Object

In [25]:
# l1 = np.arange(1,13).reshape((4,3))
# l1 = np.arange(1,13).reshape((3,4))
# l1 = np.arange(1,13).reshape((2,6))
# l1 = np.arange(1,13).reshape((6,2))
# l1 = np.arange(1,13).reshape((12,1))

l1 = np.arange(1,13).reshape((2,-1))

print(l1)
print("Diminsion:", l1.ndim)
print("Type:", l1.dtype)
print("Size:", l1.size)
print("Itemsize:", l1.itemsize)
print("Shape:", l1.shape)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]
Diminsion: 2
Type: int64
Size: 12
Itemsize: 8
Shape: (2, 6)

<img src="https://www.pythoninformer.com/img/numpy/3d-array-stack.png">
<img src="https://www.pythoninformer.com/img/numpy/3d-array.png">

l1[i,j,k]
l1[slide, row, column]

In [27]:
l1 = np.arange(1,28).reshape((3,3,3))

print(l1)
print("Diminsion:", l1.ndim)
print("Type:", l1.dtype)
print("Size:", l1.size)
print("Itemsize:", l1.itemsize)
print("Shape:", l1.shape)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]
Diminsion: 3
Type: int64
Size: 27
Itemsize: 8
Shape: (3, 3, 3)

In [30]:
l1 = np.arange(1,28).reshape((3,3,3))

print(l1)
# l1[i,j,k]
# l1[slide, row, column]
# l1[2]
# l1[1,2]
#l1[1,2,1]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([16, 17, 18])

In [32]:
l1[1][2][0]

16

In [34]:
l1 = np.array(['a','b','c'])
print(l1)
l1[[True,True,False]]

['a' 'b' 'c']

array(['a', 'b'], dtype='<U1')

In [38]:
l1 = np.arange(1,28).reshape((3,3,3))
l1[l1 % 3 == 0]

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27])

In [39]:
l1 = np.arange(1,28).reshape((3,3,3))

print(l1)
print(l1[l1 % 3 == 0])

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]
[ 3  6  9 12 15 18 21 24 27]

In [43]:
l1 = np.arange(1,28).reshape((3,3,3))

print(l1)
l1[(l1 % 3 == 0) & (l1 % 9 == 0)]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 9, 18, 27])

In [50]:
l1 = np.random.randn(3,3,3)

print(l1)
print("Diminsion:", l1.ndim)
print("Type:", l1.dtype)
print("Size:", l1.size)
print("Itemsize:", l1.itemsize)
print("Shape:", l1.shape)

[[[ 1.33384524 -1.65427471  0.81923225]
  [-0.18567415 -0.67218774  0.88680311]
  [-0.48960632 -0.35802881 -0.85910007]]

 [[ 0.48210437  0.07559161 -1.50441906]
  [-0.38395324  0.59227596 -1.76391881]
  [-0.5759897   0.60769061  0.96058015]]

 [[ 1.22104463 -0.60795173  0.09560393]
  [ 0.34270735 -3.2493535   0.27693917]
  [ 0.78395186  1.16493911 -1.52567528]]]
Diminsion: 3
Type: float64
Size: 27
Itemsize: 8
Shape: (3, 3, 3)

In [51]:
l1 + 2
#l1 * 2
#l1 / 2
#l1 ** 2
#l1 ** 0.5
#l1 % 2

array([[[ 3.33384524,  0.34572529,  2.81923225],
        [ 1.81432585,  1.32781226,  2.88680311],
        [ 1.51039368,  1.64197119,  1.14089993]],

       [[ 2.48210437,  2.07559161,  0.49558094],
        [ 1.61604676,  2.59227596,  0.23608119],
        [ 1.4240103 ,  2.60769061,  2.96058015]],

       [[ 3.22104463,  1.39204827,  2.09560393],
        [ 2.34270735, -1.2493535 ,  2.27693917],
        [ 2.78395186,  3.16493911,  0.47432472]]])

# Creating ndarrays

##### np.array()

In [54]:
# Deep Copy(Always copy)
l = [1,2,3]

a = np.array(l)
b = np.array(a)

print(a is l) #False
print(b is a) #False

False
False

In [56]:
# 1 array->Same Datatype->Shallow Copy
# 2 array->Change dtype -> Deep Copy
# 3 if not array->Deep copy
l = [1,2,3]
print(type(l))

a = np.asarray(l) #3
b = np.asarray(a) #1
c = np.asarray(a, dtype=np.float64)#2

print(a is b) # 2
print(l is a) # 1
print(c is a) # 3
type(a)

<class 'list'>
True
False
False

numpy.ndarray

In [57]:
import numpy as np
a = np.array([1,2])
a.itemsize

8

In [58]:
import numpy as np

## Creating ndarrays

In [59]:
a = np.array([1,3,4])
b = np.asarray([1,3,5])

In [60]:
a = np.arange(1,14)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

# Chaining

In [61]:
def A(x):return x+5
def B(x):return x+6    
def C(x):return x+7

In [62]:
C(B(A(1)))

19

In [63]:
A(B(C(1)))

19

np.A().B().C()

In [64]:
#arange().reshape()
#np.ones
#np.ones_like
#np.zeros
#np.zeros_like
#np.full
#np.full_like
#np.empty
#np.empty_like

In [67]:
a = np.arange(1,28).reshape(3,3,3)
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [70]:
b = np.reshape(a, (27,1))
b

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24],
       [25],
       [26],
       [27]])

In [71]:
a = np.arange(1,28)
print(a)
print(a.ndim)
a.shape = (3,9)
print(a.ndim)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27]
1
2

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24, 25, 26, 27]])

In [72]:
a.shape = (9,3)
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24],
       [25, 26, 27]])

In [73]:
a.shape

(9, 3)

In [74]:
np.zeros((3,9))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [75]:
np.zeros((a.shape[0], a.shape[1]))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [82]:
a.shape

(9, 3)

In [87]:
np.zeros((a.shape))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [76]:
np.zeros(a.shape)

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [88]:
np.zeros_like(a)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [89]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24],
       [25, 26, 27]])

In [90]:
b = np.ones((3,3))
b

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [91]:
b = np.ones_like(a)
b

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [92]:
b = np.ones_like(a) * 5 # + 5
b

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

In [93]:
b = np.full((3,3), 5)
b

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

In [94]:
b = np.full_like(a, 5)
b

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

In [95]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24],
       [25, 26, 27]])

In [96]:
np.full_like(a, dtype=a.dtype, fill_value=2.5)

array([[2, 2, 2],
       [2, 2, 2],
       [2, 2, 2],
       [2, 2, 2],
       [2, 2, 2],
       [2, 2, 2],
       [2, 2, 2],
       [2, 2, 2],
       [2, 2, 2]])

In [97]:
np.full_like(a, dtype=np.float64, fill_value=2.5)

array([[2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5]])

In [98]:
np.empty((3,9))

array([[2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5]])

In [99]:
np.empty_like(a)

array([[4612811918334230528, 4612811918334230528, 4612811918334230528],
       [4612811918334230528, 4612811918334230528, 4612811918334230528],
       [4612811918334230528, 4612811918334230528, 4612811918334230528],
       [4612811918334230528, 4612811918334230528, 4612811918334230528],
       [4612811918334230528, 4612811918334230528, 4612811918334230528],
       [4612811918334230528, 4612811918334230528, 4612811918334230528],
       [4612811918334230528, 4612811918334230528, 4612811918334230528],
       [4612811918334230528, 4612811918334230528, 4612811918334230528],
       [4612811918334230528, 4612811918334230528, 4612811918334230528]])

In [100]:
np.full_like(a, 1) * np.nan

array([[nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan]])

In [101]:
np.full(a.shape, np.nan)

array([[nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan]])

In [103]:
np.eye(6)

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [104]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Data Types for ndarrays

In [105]:
a = np.array([1,3,4], dtype='int')
a.dtype

dtype('int64')

In [106]:
a = np.array([1,3,4], dtype=int)
a.dtype

dtype('int64')

In [107]:
a = np.array([1,3,4], dtype=np.int64)
a.dtype

dtype('int64')

In [109]:
a = np.array([1,3,4], dtype='i8')
a.dtype

dtype('int64')

In [110]:
b = np.array([3,8,9], dtype=a.dtype)
b.dtype

dtype('int64')

In [111]:
c = a.astype(np.int64)
c.dtype

dtype('int64')

# Boolen Operation

In [112]:
a = np.arange(1,28).reshape((3,3,3))
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [113]:
a % 3 == 0

array([[[False, False,  True],
        [False, False,  True],
        [False, False,  True]],

       [[False, False,  True],
        [False, False,  True],
        [False, False,  True]],

       [[False, False,  True],
        [False, False,  True],
        [False, False,  True]]])

In [114]:
print(a)
a[a%3==0]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27])

In [115]:
print(a)
a[(a%3==0) & (a%5==0)]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([15])

In [116]:
print(a)
a[~a%3==0]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 2,  5,  8, 11, 14, 17, 20, 23, 26])

In [117]:
print(a)
a[~(a%3==0)]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 1,  2,  4,  5,  7,  8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25,
       26])

In [118]:
print(a)
a[a%3!=0]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 1,  2,  4,  5,  7,  8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25,
       26])

In [119]:
a = np.arange(1,7).reshape((2,3,1))
a

array([[[1],
        [2],
        [3]],

       [[4],
        [5],
        [6]]])

# Fancy Slicing

In [120]:
import numpy as np

In [121]:
a = np.arange(10,3*3*3+10).reshape(3,3,3)
print(a)
a[[1,2,0]]

[[[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]

 [[28 29 30]
  [31 32 33]
  [34 35 36]]]

array([[[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]],

       [[28, 29, 30],
        [31, 32, 33],
        [34, 35, 36]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [135]:
a = np.arange(10,3*3*3+10).reshape(3,3,3)
print(a)

print()
# print(a[[1,2,0]])
# print(a[[1,2,0]])
#a[[0,1,2],[0,1,2],]
a[[1,2,0]][:,[2,1,0]]
#a[[1,2,0]][:,[-1,0]]
#a[[1,2,0],:,::-1]
#a[::-1]
#a[:,::-1,:]

[[[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]

 [[28 29 30]
  [31 32 33]
  [34 35 36]]]

array([[[25, 26, 27],
        [22, 23, 24],
        [19, 20, 21]],

       [[34, 35, 36],
        [31, 32, 33],
        [28, 29, 30]],

       [[16, 17, 18],
        [13, 14, 15],
        [10, 11, 12]]])

In [127]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[ 0.41487938 -0.49346515 -1.75109637 -0.68331223]
 [-0.49647138  0.93547152  0.4878999   0.02405727]
 [-1.19086959  0.67826274  1.96733394  0.97203605]
 [ 2.06184136 -0.07914752  0.70607851 -1.76634134]
 [ 0.30807475 -1.25948015  0.36193332  0.14028767]
 [-1.62228243 -0.12326235  0.57617149  0.40454948]]

In [130]:
names == "Qasim"

array([ True, False, False, False,  True, False])

In [131]:
data[[ True, False, False, False,  True, False]]

array([[ 0.41487938, -0.49346515, -1.75109637, -0.68331223],
       [ 0.30807475, -1.25948015,  0.36193332,  0.14028767]])

In [136]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")

print()
data[names=="Qasim"]

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[ 1.9202772  -0.00605312  0.24997057  0.51895837]
 [ 0.81810236 -2.12366535  0.3548061  -1.36381342]
 [ 0.68623232 -0.99928818  1.69507941 -1.74527742]
 [ 1.6745081  -2.61321441 -1.38054659 -0.88267352]
 [-0.90841834  0.15159535  0.31087011 -0.14569109]
 [-0.88615649  1.11343092 -0.57764189 -0.16896098]]

array([[ 1.9202772 , -0.00605312,  0.24997057,  0.51895837],
       [-0.90841834,  0.15159535,  0.31087011, -0.14569109]])

In [137]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")
# print(names=="Qasim")
# print(names=="Ali")
# print((names=="Qasim") | (names=="Ali"))
data[(names=="Qasim") |  (names=="Ali")]

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[ 0.3057412  -1.10479482 -0.89939261  1.23402182]
 [ 0.47370345 -2.20162229 -0.61252939  0.45990147]
 [ 1.02465847 -0.4253877  -0.4147615   3.53984763]
 [-0.34174018  0.63502759 -0.2154909  -1.0188469 ]
 [-1.05974956  0.24899408 -0.99478253 -0.09699519]
 [ 1.23908525 -0.43513602 -0.80537719 -0.13873985]]

array([[ 0.3057412 , -1.10479482, -0.89939261,  1.23402182],
       [-0.34174018,  0.63502759, -0.2154909 , -1.0188469 ],
       [-1.05974956,  0.24899408, -0.99478253, -0.09699519]])

In [138]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")
# print(names=="Qasim")
# print(names=="Ali")
# print((names=="Qasim") | (names=="Ali"))
data[(names!="Qasim") |  (names!="Ali")]

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[ 0.54947833  1.12540687 -0.61414782 -0.21792961]
 [-0.57295704 -0.61973588  0.78288784  0.58774194]
 [ 0.1054022   0.63099652  0.76781636 -0.04646807]
 [ 0.7500324  -1.4842338  -2.12864405  0.63560996]
 [ 0.44304137 -0.00442426  2.12787219  0.13435064]
 [ 1.00231203  1.35732016  1.03887905 -0.65772027]]

array([[ 0.54947833,  1.12540687, -0.61414782, -0.21792961],
       [-0.57295704, -0.61973588,  0.78288784,  0.58774194],
       [ 0.1054022 ,  0.63099652,  0.76781636, -0.04646807],
       [ 0.7500324 , -1.4842338 , -2.12864405,  0.63560996],
       [ 0.44304137, -0.00442426,  2.12787219,  0.13435064],
       [ 1.00231203,  1.35732016,  1.03887905, -0.65772027]])

In [139]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")
# print(names=="Qasim")
# print(names=="Ali")
# print((names=="Qasim") | (names=="Ali"))
data[(names=="Qasim") |  (names=="Ali")][:,[0,-1]]

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[-0.85460227  1.24851701 -1.52785132  0.2470666 ]
 [ 0.96916752  1.2146227  -1.21681423  1.43148228]
 [-0.45947085  0.17417016 -0.21156681 -0.10905187]
 [-0.33077139 -0.40763253 -0.31945223 -0.28313567]
 [ 1.45925643  0.78912161 -0.15916078 -0.90653979]
 [ 0.86925988 -1.30447833 -0.61405136 -0.98538274]]

array([[-0.85460227,  0.2470666 ],
       [-0.33077139, -0.28313567],
       [ 1.45925643, -0.90653979]])

In [140]:
l = [1,3,5,3,5]
l[:3]
l[:3] = 5

TypeError: can only assign an iterable

In [142]:
l = [1,3,5,3,5]
l[:3]
l[0] = 5
l

[5, 3, 5, 3, 5]

In [143]:
l = np.array([1,3,5,3,5])
l[:3]
l[:3] = 5
l

array([5, 5, 5, 3, 5])

In [145]:
a = np.arange(8*4).reshape((8,4))
print(a)

for i in range(8):
    a[i] = i
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]
 [3 3 3 3]
 [4 4 4 4]
 [5 5 5 5]
 [6 6 6 6]
 [7 7 7 7]]

In [146]:
a = np.arange(8*4).reshape((8,4))
print(a)

for i in range(len(a)):
    a[i] = i
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]
 [3 3 3 3]
 [4 4 4 4]
 [5 5 5 5]
 [6 6 6 6]
 [7 7 7 7]]

In [147]:
a = np.arange(8*4).reshape((8,4))
print(a)

for i in range(a.shape[0]):
    a[i] = i
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]
 [3 3 3 3]
 [4 4 4 4]
 [5 5 5 5]
 [6 6 6 6]
 [7 7 7 7]]

In [148]:
a = np.arange(8*4).reshape((8,4))
print(a)

for i, _ in enumerate(a):
    a[i] = i
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]
 [3 3 3 3]
 [4 4 4 4]
 [5 5 5 5]
 [6 6 6 6]
 [7 7 7 7]]

# Transposing Arrays and Swapping Axes

In [149]:
a = np.arange(4*3).reshape(4,3)
print(a)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [150]:
a.T

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

In [151]:
a.T.T.T

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

In [152]:
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [153]:
a.transpose()

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

In [154]:
a = np.array([[1,2],
             [3,4]])
b = a+2
print(a,b, sep="\n\n", end="\n\n")

a * b

[[1 2]
 [3 4]]

[[3 4]
 [5 6]]

array([[ 3,  8],
       [15, 24]])

In [155]:
a = np.array([[1,2],
             [3,4]])
b = a+2
print(a,b, sep="\n\n", end="\n\n")

a @ b

[[1 2]
 [3 4]]

[[3 4]
 [5 6]]

array([[13, 16],
       [29, 36]])

In [156]:
a = np.array([[1,2],
             [3,4]])
b = a+2
print(a,b, sep="\n\n", end="\n\n")

a.dot(b)

[[1 2]
 [3 4]]

[[3 4]
 [5 6]]

array([[13, 16],
       [29, 36]])

In [157]:
a.dot(a.T)

array([[ 5, 11],
       [11, 25]])

In [158]:
a = np.arange(3*3*3).reshape((3,3,3))
print(a)
a.T

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]

array([[[ 0,  9, 18],
        [ 3, 12, 21],
        [ 6, 15, 24]],

       [[ 1, 10, 19],
        [ 4, 13, 22],
        [ 7, 16, 25]],

       [[ 2, 11, 20],
        [ 5, 14, 23],
        [ 8, 17, 26]]])

In [159]:
a = np.arange(3*3*3).reshape((3,3,3))
print(a)
a.transpose(2,1,0)

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]

array([[[ 0,  9, 18],
        [ 3, 12, 21],
        [ 6, 15, 24]],

       [[ 1, 10, 19],
        [ 4, 13, 22],
        [ 7, 16, 25]],

       [[ 2, 11, 20],
        [ 5, 14, 23],
        [ 8, 17, 26]]])

In [160]:
a = np.arange(3*3*3).reshape((3,3,3))
print(a)
#a.reshape(a.shape[2], a.shape[1])
a.swapaxes(2,1)

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]

array([[[ 0,  3,  6],
        [ 1,  4,  7],
        [ 2,  5,  8]],

       [[ 9, 12, 15],
        [10, 13, 16],
        [11, 14, 17]],

       [[18, 21, 24],
        [19, 22, 25],
        [20, 23, 26]]])

# Table 4-3. Unary ufuncs

In [162]:
a = np.array([7,8,-20,2,-3,20])
np.abs(a)

array([ 7,  8, 20,  2,  3, 20])

In [163]:
a = np.array([7,8,-20,2,-3,20])
np.fabs(a)

array([ 7.,  8., 20.,  2.,  3., 20.])

In [164]:
a = np.array([36,25,16])
np.fabs(a)

array([36., 25., 16.])

In [165]:
a = np.array([7,8,-20,2,-3,20])
np.square(a)

array([ 49,  64, 400,   4,   9, 400])

In [166]:
np.exp(a)

array([1.09663316e+03, 2.98095799e+03, 2.06115362e-09, 7.38905610e+00,
       4.97870684e-02, 4.85165195e+08])

In [167]:
a = np.array([2.3, 2.1,2.9, 2.8])
np.ceil(a)

array([3., 3., 3., 3.])

In [168]:
a = np.array([2.3, 2.1,2.9, 2.8])
np.floor(a)

array([2., 2., 2., 2.])

In [169]:
a = np.array([2.8, 9.7, 5.9])
for i in a:
    i = str(i).split(".")
    print(i[0], i[1])

2 8
9 7
5 9

In [170]:
a = np.array([2.8, 9.7, 5.9])
f, w = np.modf(a)
print(w,f, sep="\n")

[2. 9. 5.]
[0.8 0.7 0.9]

In [171]:
np.isnan(np.nan)

True

In [172]:
a = np.array([1,3,5,7])
b = np.array([3,2,2,1])

np.maximum(a,b)

array([3, 3, 5, 7])

In [173]:
np.fmax(a,b)

array([3, 3, 5, 7])

In [174]:
np.fmax??

# 4.3 Array-Oriented Programming with Arrays

In [175]:
a = np.arange(4*3)
print(a)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [176]:
np.meshgrid(a,a)

[array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]]),
 array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
        [ 2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2],
        [ 3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3],
        [ 4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4],
        [ 5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5],
        [ 6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6],
        [ 7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [ 9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9],
        [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
        [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11]])]

# Expressing Conditional Logic as Array Operations

#### np.wher(condition, value_true, value_false)

In [177]:
a = np.arange(8*4).reshape((8,4))
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [ ]:
np.where(condition, True_block, False_block)

In [178]:
np.where(a%3 == 0, "Yes","No")

array([['Yes', 'No', 'No', 'Yes'],
       ['No', 'No', 'Yes', 'No'],
       ['No', 'Yes', 'No', 'No'],
       ['Yes', 'No', 'No', 'Yes'],
       ['No', 'No', 'Yes', 'No'],
       ['No', 'Yes', 'No', 'No'],
       ['Yes', 'No', 'No', 'Yes'],
       ['No', 'No', 'Yes', 'No']], dtype='<U3')

In [179]:
a = np.array([1,3,5,7])
b = np.array([3,2,2,1])

np.where(a>b, a, b)

array([3, 3, 5, 7])

# Mathematical and Statistical Methods

In [180]:
a = np.arange(3*4).reshape((3,4))
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [181]:
np.sum(a)

66

In [182]:
print(a)
np.sum(a, axis=0)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

array([12, 15, 18, 21])

In [183]:
print(a)
np.sum(a, axis=1)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

array([ 6, 22, 38])

##### Broad Casting

In [184]:
a = np.arange(5*5).reshape((5,5))
print(a)
a + 5

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

array([[ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [185]:
a = np.arange(5*5).reshape((5,5))
b = np.full_like(a, 5)
print(a,b,sep="\n\n")
a + b

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

[[5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]]

array([[ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

## stacking

stacking ->axis 0, 1
vstack
columnstack
rowstack
hstack
block
dstack

#### split

split
dsplit

# > Stackig

In [199]:
import numpy as np
a = np.random.randint(1,10, size=10)
b = a + 5
print(a, b, sep='\n')
print(len(a),len(b))

[1 9 5 4 5 4 2 1 6 7]
[ 6 14 10  9 10  9  7  6 11 12]
10 10

In [187]:
print(a,b, sep='\n\n')

[6 4 3 1 5 1 7 8 8 6]

[11  9  8  6 10  6 12 13 13 11]

In [188]:
print(a,b, sep='\n\n')
np.stack((a,b), axis=0)

[6 4 3 1 5 1 7 8 8 6]

[11  9  8  6 10  6 12 13 13 11]

array([[ 6,  4,  3,  1,  5,  1,  7,  8,  8,  6],
       [11,  9,  8,  6, 10,  6, 12, 13, 13, 11]])

In [189]:
print(a,b, sep='\n\n')
np.stack((a,b), axis=1)

[6 4 3 1 5 1 7 8 8 6]

[11  9  8  6 10  6 12 13 13 11]

array([[ 6, 11],
       [ 4,  9],
       [ 3,  8],
       [ 1,  6],
       [ 5, 10],
       [ 1,  6],
       [ 7, 12],
       [ 8, 13],
       [ 8, 13],
       [ 6, 11]])

In [190]:
# np.stack((a,b), axis=1)
np.column_stack((a,b))

array([[ 6, 11],
       [ 4,  9],
       [ 3,  8],
       [ 1,  6],
       [ 5, 10],
       [ 1,  6],
       [ 7, 12],
       [ 8, 13],
       [ 8, 13],
       [ 6, 11]])

In [191]:
np.stack((a,b), axis=0)

array([[ 6,  4,  3,  1,  5,  1,  7,  8,  8,  6],
       [11,  9,  8,  6, 10,  6, 12, 13, 13, 11]])

In [192]:
np.vstack((a,b))

array([[ 6,  4,  3,  1,  5,  1,  7,  8,  8,  6],
       [11,  9,  8,  6, 10,  6, 12, 13, 13, 11]])

In [193]:
# 
# 
np.row_stack((a,b))

array([[ 6,  4,  3,  1,  5,  1,  7,  8,  8,  6],
       [11,  9,  8,  6, 10,  6, 12, 13, 13, 11]])

In [194]:
np.hstack((a,b))

array([ 6,  4,  3,  1,  5,  1,  7,  8,  8,  6, 11,  9,  8,  6, 10,  6, 12,
       13, 13, 11])

In [195]:
np.vstack((a,b))

array([[ 6,  4,  3,  1,  5,  1,  7,  8,  8,  6],
       [11,  9,  8,  6, 10,  6, 12, 13, 13, 11]])

In [196]:
b = np.arange(3*3).reshape((3,3)) 
a = a + 5
print(a, b, sep='\n\n')

[11  9  8  6 10  6 12 13 13 11]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [200]:
np.vstack((a,b))

array([[ 1,  9,  5,  4,  5,  4,  2,  1,  6,  7],
       [ 6, 14, 10,  9, 10,  9,  7,  6, 11, 12]])

In [201]:
np.hstack((a,b))

array([ 1,  9,  5,  4,  5,  4,  2,  1,  6,  7,  6, 14, 10,  9, 10,  9,  7,
        6, 11, 12])

In [202]:
np.column_stack((a,b))

array([[ 1,  6],
       [ 9, 14],
       [ 5, 10],
       [ 4,  9],
       [ 5, 10],
       [ 4,  9],
       [ 2,  7],
       [ 1,  6],
       [ 6, 11],
       [ 7, 12]])

In [203]:
a = np.arange(2*2*2).reshape((2,2,2))
b = a + 7
print(a,b, sep='\n->SecondArray->\n')
np.dstack((a,b))

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]
->SecondArray->
[[[ 7  8]
  [ 9 10]]

 [[11 12]
  [13 14]]]

array([[[ 0,  1,  7,  8],
        [ 2,  3,  9, 10]],

       [[ 4,  5, 11, 12],
        [ 6,  7, 13, 14]]])

In [204]:
a = np.arange(2*2*2).reshape((2,2,2))
b = a + 7
print(a,b, sep='\n->SecondArray->\n')
np.stack((a,b), axis=2)

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]
->SecondArray->
[[[ 7  8]
  [ 9 10]]

 [[11 12]
  [13 14]]]

array([[[[ 0,  1],
         [ 7,  8]],

        [[ 2,  3],
         [ 9, 10]]],


       [[[ 4,  5],
         [11, 12]],

        [[ 6,  7],
         [13, 14]]]])

In [205]:
np.stack??

In [206]:
a.reshape((2,-1))

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

# Split

In [207]:
a = np.arange(6*6).reshape((6,6))
print(a)
np.split(a, 6, axis=0)
np.split(a, 3, axis=0)
np.split(a, 2, axis=0)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 31 32 33 34 35]]

[array([[ 0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11],
        [12, 13, 14, 15, 16, 17]]),
 array([[18, 19, 20, 21, 22, 23],
        [24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35]])]

In [208]:
a = np.arange(6*6).reshape((6,6))
print(a)
np.split(a, 6, axis=1)
np.split(a, 3, axis=1)
np.split(a, 2, axis=1)[0]

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 31 32 33 34 35]]

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14],
       [18, 19, 20],
       [24, 25, 26],
       [30, 31, 32]])

In [209]:
a = np.arange(2*2*2).reshape((2,2,2))
p=print(a)

np.dsplit(a, 2)

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]

[array([[[0],
         [2]],

        [[4],
         [6]]]),
 array([[[1],
         [3]],

        [[5],
         [7]]])]

# Table 4-6. Array set operations

In [210]:
a = np.random.randint(1,10, size=20)
print(a)
np.unique(a)

[4 2 1 4 2 2 7 9 3 3 1 2 9 3 5 4 7 3 6 5]

array([1, 2, 3, 4, 5, 6, 7, 9])

In [211]:
piaic = np.random.randint(1,100, size=30)
cnic = np.random.randint(1,10, size=5)
print(piaic, cnic,sep='\n\n')

[68 99 56 14 86 25 17 66 53 34 87 52 70 76  2 81 53 15 17  6 67 40 89 98
 62 42 68 88 70 30]

[8 5 8 6 8]

In [212]:
[True if x in piaic else False for x in cnic]

[False, False, False, True, False]

In [213]:
[x in piaic for x in cnic]

[False, False, False, True, False]

In [214]:
["Yes" if x in piaic else "NO" for x in cnic]

['NO', 'NO', 'NO', 'Yes', 'NO']

In [215]:
print(piaic, cnic,sep='\n\n')
np.in1d(cnic, piaic)

[68 99 56 14 86 25 17 66 53 34 87 52 70 76  2 81 53 15 17  6 67 40 89 98
 62 42 68 88 70 30]

[8 5 8 6 8]

array([False, False, False,  True, False])

In [216]:
print(piaic, cnic,sep='\n\n')
c = np.in1d(cnic, piaic)
np.where(c==True,"Yes","No")

[68 99 56 14 86 25 17 66 53 34 87 52 70 76  2 81 53 15 17  6 67 40 89 98
 62 42 68 88 70 30]

[8 5 8 6 8]

array(['No', 'No', 'No', 'Yes', 'No'], dtype='<U3')

In [217]:
print(piaic, cnic,sep='\n\n')
np.intersect1d(cnic, piaic)

[68 99 56 14 86 25 17 66 53 34 87 52 70 76  2 81 53 15 17  6 67 40 89 98
 62 42 68 88 70 30]

[8 5 8 6 8]

array([6])

In [218]:
print(piaic, cnic,sep='\n\n')
np.union1d(cnic, piaic)

[68 99 56 14 86 25 17 66 53 34 87 52 70 76  2 81 53 15 17  6 67 40 89 98
 62 42 68 88 70 30]

[8 5 8 6 8]

array([ 2,  5,  6,  8, 14, 15, 17, 25, 30, 34, 40, 42, 52, 53, 56, 62, 66,
       67, 68, 70, 76, 81, 86, 87, 88, 89, 98, 99])

In [219]:
print(piaic, cnic,sep='\n\n')
np.setdiff1d(cnic, piaic)

[68 99 56 14 86 25 17 66 53 34 87 52 70 76  2 81 53 15 17  6 67 40 89 98
 62 42 68 88 70 30]

[8 5 8 6 8]

array([5, 8])

In [220]:
# XOR
# 0 0 -> 0
# 1 0 -> 1
# 0 1 -> 1
# 1 1 -> 0
print(piaic, cnic,sep='\n\n')
np.setxor1d(cnic, piaic)

[68 99 56 14 86 25 17 66 53 34 87 52 70 76  2 81 53 15 17  6 67 40 89 98
 62 42 68 88 70 30]

[8 5 8 6 8]

array([ 2,  5,  8, 14, 15, 17, 25, 30, 34, 40, 42, 52, 53, 56, 62, 66, 67,
       68, 70, 76, 81, 86, 87, 88, 89, 98, 99])