In [1]:
print("Helloworld")

Helloworld

In [2]:
print("Line1")
print("Line2")

Line1
Line2

In [3]:
%history

print("Helloworld")
print("Line1")
print("Line2")
%history

In [5]:
# %load xyz.py
print("Line1")
print("Line2")
print("Line3")
print("From other file")

Line1
Line2
Line3
From other file

In [6]:
%run xyz.py

Line1
Line2
Line3
From other file

In [7]:
%time print("ada")

ada
CPU times: user 1.7 ms, sys: 0 ns, total: 1.7 ms
Wall time: 4.77 ms

# Python

In [8]:
%time l1 = list(range(1,3000000))
print(l1[:10])

CPU times: user 70 ms, sys: 53 ms, total: 123 ms
Wall time: 126 ms
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
%time [x+5 for x in l1][:10]

CPU times: user 197 ms, sys: 76.6 ms, total: 274 ms
Wall time: 280 ms

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [10]:
for i, e in list(enumerate(l1)):
    l1[i] = l1[i] + 5
l1[:10]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [11]:
for i, e in list(enumerate(l1)):
    l1[i] += 5
l1[:10]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
l1 = [[1,2,3],
     [4,5,6],
     [7,8,9]]

print("Before Adding 5")
print(l1)
print()
for ri, rd in list(enumerate(l1)):
    for ci, cd in list(enumerate(rd)):
        l1[ri][ci] += 5
print("After Adding 5")
print(l1)

Before Adding 5
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

After Adding 5
[[6, 7, 8], [9, 10, 11], [12, 13, 14]]

In [14]:
l1 = [1,2,4]
l1 + 5

TypeError: can only concatenate list (not "int") to list

# Numpy

In [15]:
def abc():print("pakistan") #python
def abc():print("Hello World") #Numpy
    
abc()

Hello World

In [16]:
# import numpy as *
import numpy as np

In [17]:
l = [1,3,2]
print(sum(l)) # python function
print(np.sum(l)) # Numpy function

6
6

In [18]:
l1 = np.arange(1,3000000)
%time l1 + 5

CPU times: user 0 ns, sys: 18.9 ms, total: 18.9 ms
Wall time: 19.1 ms

array([      6,       7,       8, ..., 3000002, 3000003, 3000004])

In [20]:
l1 = np.arange(1,13)


print("Diminsion:", l1.ndim)
print("Type:", l1.dtype)
print("Size:", l1.size)
print("Itemsize:", l1.itemsize)
print("Shape:", l1.shape)
l1

Diminsion: 1
Type: int64
Size: 12
Itemsize: 8
Shape: (12,)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [25]:
np.array??

# A Multidimensional Array Object

In [35]:
# l1 = np.arange(1,13).reshape((4,3))
# l1 = np.arange(1,13).reshape((3,4))
# l1 = np.arange(1,13).reshape((2,6))
# l1 = np.arange(1,13).reshape((6,2))
# l1 = np.arange(1,13).reshape((12,1))

l1 = np.arange(1,13).reshape((6,-1))

print(l1)
print("Diminsion:", l1.ndim)
print("Type:", l1.dtype)
print("Size:", l1.size)
print("Itemsize:", l1.itemsize)
print("Shape:", l1.shape)

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]]
Diminsion: 2
Type: int64
Size: 12
Itemsize: 8
Shape: (6, 2)

In [37]:
l1 = np.arange(1,13).reshape((6,-1))
l1.shape = (2,6)
l1

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

<img src="https://www.pythoninformer.com/img/numpy/3d-array-stack.png">
<img src="https://www.pythoninformer.com/img/numpy/3d-array.png">

l1[i,j,k]
l1[slide, row, column]

In [38]:
l1 = np.arange(1,28).reshape((3,3,3))

print(l1)
print("Diminsion:", l1.ndim)
print("Type:", l1.dtype)
print("Size:", l1.size)
print("Itemsize:", l1.itemsize)
print("Shape:", l1.shape)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]
Diminsion: 3
Type: int64
Size: 27
Itemsize: 8
Shape: (3, 3, 3)

In [51]:
l1 = np.arange(1,28).reshape((3,3,3))

print(l1)
# l1[i,j,k]
# l1[slide, row, column]
# l1[2]
# l1[1,2]
l1[1,2,1]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

17

In [53]:
l1[1][2][0]

16

In [56]:
l1 = np.array(['a','b','c'])
print(l1)
#   0      1      2
l1[[True, False, True]]

['a' 'b' 'c']

array(['a', 'c'], dtype='<U1')

In [66]:
l1 = np.arange(1,28).reshape((3,3,3))
print(l1)
l1[l1 % 6 == 0]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 6, 12, 18, 24])

In [67]:
l1 = np.arange(1,28).reshape((3,3,3))

print(l1)
print(l1[l1 % 3 == 0])

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]
[ 3  6  9 12 15 18 21 24 27]

In [73]:
l1 = np.arange(1,28).reshape((3,3,3))

print(l1)
l1[(l1 % 3 == 0)  & (l1 % 9 == 0)]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 9, 18, 27])

In [78]:
l1 = np.random.randn(3,3,3,3)

print(l1)
print("Diminsion:", l1.ndim)
print("Type:", l1.dtype)
print("Size:", l1.size)
print("Itemsize:", l1.itemsize)
print("Shape:", l1.shape)

[[[[-2.9748697  -1.55664254  0.26018129]
   [ 0.70315374  0.28104323 -1.07728561]
   [-0.72714186 -0.29754865 -0.07418641]]

  [[-0.60831022  1.00543218  0.53424686]
   [-0.68088967  0.26274255  0.37457202]
   [-0.74221431 -1.52121224  2.46710155]]

  [[-0.38176961  0.21131061 -0.10111194]
   [-1.60648242  1.60661382 -0.42308564]
   [ 1.03535542 -0.236051    1.12636809]]]


 [[[ 0.36292179  1.31791478  1.50505098]
   [ 0.92674516  1.36654743 -0.55548701]
   [ 0.90892287  0.17548967  0.6418574 ]]

  [[-0.2035143  -0.27129096 -2.28762476]
   [-1.62006668 -1.1237085  -0.39181959]
   [ 0.88778194 -1.36165737  0.84834835]]

  [[ 0.48731547  0.40724579 -0.98610859]
   [ 0.77052085  1.53724633  0.89188099]
   [ 0.55167667  0.16859283  1.57771203]]]


 [[[-0.86327288  1.24175294 -0.28523867]
   [ 0.30296136 -1.45293414  0.84238041]
   [ 0.40211396 -0.28612835 -0.68119652]]

  [[-1.97389208  1.01645619 -1.8810632 ]
   [-0.16263382 -1.24729137  0.46213365]
   [ 0.50597518 -0.71778702  1.20529895]]

  [[-0.407287    1.49233616  0.37163823]
   [ 0.54362349 -0.64649841  0.7651324 ]
   [-0.84321414 -0.08755287 -0.78940524]]]]
Diminsion: 4
Type: float64
Size: 81
Itemsize: 8
Shape: (3, 3, 3, 3)

In [80]:
# l1 + 2
# l1 * 2
#l1 / 2
#l1 ** 2
#l1 ** 0.5
#l1 % 2

array([[[[-5.94973939, -3.11328507,  0.52036259],
         [ 1.40630749,  0.56208646, -2.15457122],
         [-1.45428372, -0.59509729, -0.14837282]],

        [[-1.21662043,  2.01086436,  1.06849373],
         [-1.36177934,  0.52548509,  0.74914404],
         [-1.48442861, -3.04242449,  4.9342031 ]],

        [[-0.76353923,  0.42262121, -0.20222388],
         [-3.21296485,  3.21322765, -0.84617128],
         [ 2.07071084, -0.47210199,  2.25273619]]],


       [[[ 0.72584358,  2.63582956,  3.01010197],
         [ 1.85349031,  2.73309486, -1.11097402],
         [ 1.81784574,  0.35097933,  1.28371479]],

        [[-0.40702861, -0.54258192, -4.57524951],
         [-3.24013337, -2.247417  , -0.78363917],
         [ 1.77556389, -2.72331474,  1.69669671]],

        [[ 0.97463094,  0.81449158, -1.97221717],
         [ 1.54104171,  3.07449266,  1.78376198],
         [ 1.10335333,  0.33718565,  3.15542406]]],


       [[[-1.72654575,  2.48350589, -0.57047733],
         [ 0.60592271, -2.90586828,  1.68476083],
         [ 0.80422791, -0.57225669, -1.36239305]],

        [[-3.94778416,  2.03291237, -3.7621264 ],
         [-0.32526765, -2.49458274,  0.9242673 ],
         [ 1.01195036, -1.43557404,  2.4105979 ]],

        [[-0.81457399,  2.98467232,  0.74327645],
         [ 1.08724698, -1.29299682,  1.5302648 ],
         [-1.68642828, -0.17510573, -1.57881049]]]])

# Creating ndarrays

##### np.array()

In [81]:
# Deep Copy(Always copy)
l = [1,2,3]

a = np.array(l)
b = np.array(a)

print(a is l) #False
print(b is a) #False

False
False

In [82]:
# 1 array->Same Datatype->Shallow Copy
# 2 array->Change dtype -> Deep Copy
# 3 if not array->Deep copy
l = [1,2,3]
print(type(l))

a = np.asarray(l) #3
b = np.asarray(a) #1 
c = np.asarray(a, dtype=np.float64)#2

print(a is b) # 2
print(l is a) # 1
print(c is a) # 3
type(a)

<class 'list'>
True
False
False

numpy.ndarray

In [83]:
import numpy as np
a = np.array([1,2])
a.itemsize

8

In [84]:
import numpy as np

## Creating ndarrays

In [85]:
a = np.array([1,3,4])
b = np.asarray([1,3,5])

In [86]:
a = np.arange(1,14)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

# Chaining

In [87]:
def A(x):return x+5
def B(x):return x+6    
def C(x):return x+7

In [90]:
C(B(A(1))) #1+5=6  6+6=12 12+7=19

19

In [91]:
A(B(C(1)))

19

np.A().B().C()

In [ ]:
#arange().reshape()
#np.ones
#np.ones_like
#np.zeros
#np.zeros_like
#np.full
#np.full_like
#np.empty
#np.empty_like

In [92]:
a = np.arange(1,28).reshape(3,3,3)
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [93]:
b = np.reshape(a, (27,1))
b

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24],
       [25],
       [26],
       [27]])

In [94]:
a = np.arange(1,28)
print(a)
print(a.ndim)
a.shape = (3,9)
print(a.ndim)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27]
1
2

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24, 25, 26, 27]])

In [103]:
a.shape = (3,3,3)
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [104]:
a.shape

(3, 3, 3)

In [105]:
np.zeros((3,9))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [107]:
np.zeros((a.shape[0], a.shape[1]))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [110]:
np.zeros((a.shape))

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [111]:
np.zeros(a.shape)

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [113]:
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [115]:
np.zeros_like(a)

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]]])

In [116]:
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [117]:
b = np.ones((3,3))
b

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [118]:
b = np.ones_like(a)
b

array([[[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]]])

In [119]:
b = np.ones_like(a) * 5 # + 5
b

array([[[5, 5, 5],
        [5, 5, 5],
        [5, 5, 5]],

       [[5, 5, 5],
        [5, 5, 5],
        [5, 5, 5]],

       [[5, 5, 5],
        [5, 5, 5],
        [5, 5, 5]]])

In [120]:
b = np.full((3,3), 5)
b

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

In [121]:
b = np.full_like(a, 5)
b

array([[[5, 5, 5],
        [5, 5, 5],
        [5, 5, 5]],

       [[5, 5, 5],
        [5, 5, 5],
        [5, 5, 5]],

       [[5, 5, 5],
        [5, 5, 5],
        [5, 5, 5]]])

In [122]:
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [123]:
np.full_like(a, dtype=a.dtype, fill_value=2.5)

array([[[2, 2, 2],
        [2, 2, 2],
        [2, 2, 2]],

       [[2, 2, 2],
        [2, 2, 2],
        [2, 2, 2]],

       [[2, 2, 2],
        [2, 2, 2],
        [2, 2, 2]]])

In [124]:
np.full_like(a, dtype=np.float64, fill_value=2.5)

array([[[2.5, 2.5, 2.5],
        [2.5, 2.5, 2.5],
        [2.5, 2.5, 2.5]],

       [[2.5, 2.5, 2.5],
        [2.5, 2.5, 2.5],
        [2.5, 2.5, 2.5]],

       [[2.5, 2.5, 2.5],
        [2.5, 2.5, 2.5],
        [2.5, 2.5, 2.5]]])

In [125]:
np.empty((3,9))

array([[2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5]])

In [126]:
np.empty_like(a)

array([[[4612811918334230528, 4612811918334230528, 4612811918334230528],
        [4612811918334230528, 4612811918334230528, 4612811918334230528],
        [4612811918334230528, 4612811918334230528, 4612811918334230528]],

       [[4612811918334230528, 4612811918334230528, 4612811918334230528],
        [4612811918334230528, 4612811918334230528, 4612811918334230528],
        [4612811918334230528, 4612811918334230528, 4612811918334230528]],

       [[4612811918334230528, 4612811918334230528, 4612811918334230528],
        [4612811918334230528, 4612811918334230528, 4612811918334230528],
        [4612811918334230528, 4612811918334230528, 4612811918334230528]]])

In [127]:
np.full_like(a, 1) * np.nan

array([[[nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan]],

       [[nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan]],

       [[nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan]]])

In [128]:
np.full(a.shape, np.nan)

array([[[nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan]],

       [[nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan]],

       [[nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan]]])

In [130]:
np.eye(6)

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [131]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Data Types for ndarrays

In [132]:
a = np.array([1,3,4], dtype='int')
a.dtype

dtype('int64')

In [133]:
a = np.array([1,3,4], dtype=int)
a.dtype

dtype('int64')

In [134]:
a = np.array([1,3,4], dtype=np.int64)
a.dtype

dtype('int64')

In [136]:
a = np.array([1,3,4], dtype='i1')
a.dtype

dtype('int8')

In [138]:
b = np.array([3,8,9], dtype=a.dtype)
b.dtype

dtype('int8')

In [139]:
c = a.astype(np.int64)
c.dtype

dtype('int64')

# Boolen Operation

In [140]:
a = np.arange(1,28).reshape((3,3,3))
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [141]:
a % 3 == 0

array([[[False, False,  True],
        [False, False,  True],
        [False, False,  True]],

       [[False, False,  True],
        [False, False,  True],
        [False, False,  True]],

       [[False, False,  True],
        [False, False,  True],
        [False, False,  True]]])

In [142]:
print(a)
a[a%3==0]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27])

In [143]:
print(a)
a[(a%3==0) & (a%5==0)]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([15])

In [144]:
print(a)
a[~a%3==0]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 2,  5,  8, 11, 14, 17, 20, 23, 26])

In [145]:
print(a)
a[~(a%3==0)]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 1,  2,  4,  5,  7,  8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25,
       26])

In [146]:
print(a)
a[a%3!=0]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

array([ 1,  2,  4,  5,  7,  8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25,
       26])

In [147]:
a = np.arange(1,7).reshape((2,3,1))
a

array([[[1],
        [2],
        [3]],

       [[4],
        [5],
        [6]]])

# Fancy Slicing

In [148]:
import numpy as np

In [151]:
a = np.arange(10,3*3*3+10).reshape(3,3,3)
print(a)
a[[2,0,1]]

[[[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]

 [[28 29 30]
  [31 32 33]
  [34 35 36]]]

array([[[28, 29, 30],
        [31, 32, 33],
        [34, 35, 36]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [158]:
a = np.arange(10,3*3*3+10).reshape(3,3,3)
print(a)

print("=====")
# print(a[[1,2,0]])
# print(a[[1,2,0]])
# a[[0,1,2],[0,1,2]]
# a[[1,2,0]][:,[2,1,0]]
# a[[1,2,0]][:,[-1,0]]
# a[[1,2,0],:,::-1]
a[::-1]
#a[:,::-1,:]

[[[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]

 [[28 29 30]
  [31 32 33]
  [34 35 36]]]
=====

array([[[28, 29, 30],
        [31, 32, 33],
        [34, 35, 36]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [160]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[-0.76130489  0.06538584 -2.14984173  1.6313274 ]
 [ 0.22978995 -1.26567214  0.03366811 -1.9243245 ]
 [-0.0656152  -0.07240712 -0.72501974 -0.2750726 ]
 [-0.94021783 -1.97261417 -2.52992785 -1.30393616]
 [-1.08519454  0.43107577 -0.45821834  2.78611919]
 [ 0.97238506  0.18088505 -0.27231925 -0.45744028]]

In [161]:
names == "Qasim"

array([ True, False, False, False,  True, False])

In [162]:
data[[ True, False, False, False,  True, False]]

array([[-0.76130489,  0.06538584, -2.14984173,  1.6313274 ],
       [-1.08519454,  0.43107577, -0.45821834,  2.78611919]])

In [163]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")

print()
data[names=="Qasim"]

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[ 0.58689521 -1.14190272 -0.41808943 -1.14325976]
 [-0.84534021 -0.83882228  0.25049452  0.34349913]
 [-0.38841389 -0.23226722 -1.72822455 -0.48026587]
 [ 0.9552616  -0.28653272 -0.15895698  0.81688233]
 [-1.14324202  0.92622387  0.72834383 -0.2050397 ]
 [-2.2752688  -0.00560511  0.38842433 -1.59247169]]

array([[ 0.58689521, -1.14190272, -0.41808943, -1.14325976],
       [-1.14324202,  0.92622387,  0.72834383, -0.2050397 ]])

In [164]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")
# print(names=="Qasim")
# print(names=="Ali")
# print((names=="Qasim") | (names=="Ali"))
data[(names=="Qasim") |  (names=="Ali")]

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[-0.74175065 -0.02871954  0.88805963  2.44759672]
 [-1.09211243 -1.17688526 -0.26423685  0.85331965]
 [ 2.31101666 -0.29892406  0.65529704  1.10886093]
 [ 2.22606754  1.12985497  1.70940605 -0.36482709]
 [-0.70193641  1.26428882 -1.56537594 -0.28609213]
 [ 0.14054311 -0.28064395 -0.80183184 -2.07919006]]

array([[-0.74175065, -0.02871954,  0.88805963,  2.44759672],
       [ 2.22606754,  1.12985497,  1.70940605, -0.36482709],
       [-0.70193641,  1.26428882, -1.56537594, -0.28609213]])

In [165]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")
# print(names=="Qasim")
# print(names=="Ali")
# print((names=="Qasim") | (names=="Ali"))
data[(names!="Qasim") |  (names!="Ali")]

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[-1.84451413 -0.55389332  0.39249123 -1.34510362]
 [-0.35160297 -0.03267467 -0.54626352 -1.04701687]
 [-0.52651856 -0.19848262  1.49627519  0.37858299]
 [ 1.17325267  0.76219467  0.32011708 -0.82957735]
 [-0.13848246  0.40867595 -1.04529832 -1.0858083 ]
 [-1.22796008  2.10631025 -1.03145207  0.00741713]]

array([[-1.84451413, -0.55389332,  0.39249123, -1.34510362],
       [-0.35160297, -0.03267467, -0.54626352, -1.04701687],
       [-0.52651856, -0.19848262,  1.49627519,  0.37858299],
       [ 1.17325267,  0.76219467,  0.32011708, -0.82957735],
       [-0.13848246,  0.40867595, -1.04529832, -1.0858083 ],
       [-1.22796008,  2.10631025, -1.03145207,  0.00741713]])

In [166]:
names = np.array(["Qasim","Hamza","Junaid","Ali","Qasim","Abid"])

data = np.random.randn(6,4)
print(names, data, sep="\n\n\n")
# print(names=="Qasim")
# print(names=="Ali")
# print((names=="Qasim") | (names=="Ali"))
data[(names=="Qasim") |  (names=="Ali")][:,[0,-1]]

['Qasim' 'Hamza' 'Junaid' 'Ali' 'Qasim' 'Abid']


[[-0.80260621 -0.61794159 -0.11840457  0.66505693]
 [ 0.25446305  0.39161238  0.83956141  1.34273825]
 [ 0.38031233  0.43312698 -2.15574078 -1.00575973]
 [ 1.29201174  1.65284007  0.60596225  0.16181527]
 [-1.20970702 -0.60204831  1.83369303  0.02530945]
 [ 0.79558426 -0.22049232 -0.22347459  0.03174325]]

array([[-0.80260621,  0.66505693],
       [ 1.29201174,  0.16181527],
       [-1.20970702,  0.02530945]])

In [167]:
l = [1,3,5,3,5]
l[:3]
l[:3] = 5

TypeError: can only assign an iterable

In [168]:
l = [1,3,5,3,5]
l[:3]
l[0] = 5
l

[5, 3, 5, 3, 5]

In [170]:
l = np.array([1,3,5,3,5])
l[:3]
l[:3] = 5
l

array([5, 5, 5, 3, 5])

In [172]:
a = np.arange(8*4).reshape((8,4))
print(a)

for i in range(8):
    a[i] = i
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]
 [3 3 3 3]
 [4 4 4 4]
 [5 5 5 5]
 [6 6 6 6]
 [7 7 7 7]]

In [173]:
a = np.arange(8*4).reshape((8,4))
print(a)

for i in range(len(a)):
    a[i] = i
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]
 [3 3 3 3]
 [4 4 4 4]
 [5 5 5 5]
 [6 6 6 6]
 [7 7 7 7]]

In [175]:
a = np.arange(8*4).reshape((8,4))
print(a)

for i in range(a.shape[0]):
    a[i] = i
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]
 [3 3 3 3]
 [4 4 4 4]
 [5 5 5 5]
 [6 6 6 6]
 [7 7 7 7]]

In [176]:
a = np.arange(8*4).reshape((8,4))
print(a)

for i, _ in enumerate(a):
    a[i] = i
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]
 [3 3 3 3]
 [4 4 4 4]
 [5 5 5 5]
 [6 6 6 6]
 [7 7 7 7]]

# Transposing Arrays and Swapping Axes

In [177]:
a = np.arange(4*3).reshape(4,3)
print(a)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [179]:
a.T

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

In [181]:
a.T.T.T.T

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [184]:
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [185]:
a.transpose()

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

In [187]:
a = np.array([[1,2],
             [3,4]])
b = a+2
print(a,b, sep="\n\n", end="\n\n")

a * b

[[1 2]
 [3 4]]

[[3 4]
 [5 6]]

array([[ 3,  8],
       [15, 24]])

In [188]:
a = np.array([[1,2],
             [3,4]])
b = a+2
print(a,b, sep="\n\n", end="\n\n")

a @ b

[[1 2]
 [3 4]]

[[3 4]
 [5 6]]

array([[13, 16],
       [29, 36]])

In [189]:
a = np.array([[1,2],
             [3,4]])
b = a+2
print(a,b, sep="\n\n", end="\n\n")

a.dot(b)

[[1 2]
 [3 4]]

[[3 4]
 [5 6]]

array([[13, 16],
       [29, 36]])

In [192]:
a.dot(np.ones_like(a).T)

array([[3, 3],
       [7, 7]])

In [193]:
a = np.arange(3*3*3).reshape((3,3,3))
print(a)
a.T

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]

array([[[ 0,  9, 18],
        [ 3, 12, 21],
        [ 6, 15, 24]],

       [[ 1, 10, 19],
        [ 4, 13, 22],
        [ 7, 16, 25]],

       [[ 2, 11, 20],
        [ 5, 14, 23],
        [ 8, 17, 26]]])

In [194]:
a = np.arange(3*3*3).reshape((3,3,3))
print(a)
a.transpose(2,1,0)

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]

array([[[ 0,  9, 18],
        [ 3, 12, 21],
        [ 6, 15, 24]],

       [[ 1, 10, 19],
        [ 4, 13, 22],
        [ 7, 16, 25]],

       [[ 2, 11, 20],
        [ 5, 14, 23],
        [ 8, 17, 26]]])

In [195]:
a = np.arange(3*3*3).reshape((3,3,3))
print(a)
#a.reshape(a.shape[2], a.shape[1])
a.swapaxes(2,1)

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]

array([[[ 0,  3,  6],
        [ 1,  4,  7],
        [ 2,  5,  8]],

       [[ 9, 12, 15],
        [10, 13, 16],
        [11, 14, 17]],

       [[18, 21, 24],
        [19, 22, 25],
        [20, 23, 26]]])

# Table 4-3. Unary ufuncs

In [196]:
a = np.array([7,8,-20,2,-3,20])
np.abs(a)

array([ 7,  8, 20,  2,  3, 20])

In [197]:
a = np.array([7,8,-20,2,-3,20])
np.fabs(a)

array([ 7.,  8., 20.,  2.,  3., 20.])

In [198]:
a = np.array([36,25,16])
np.fabs(a)

array([36., 25., 16.])

In [199]:
a = np.array([7,8,-20,2,-3,20])
np.square(a)

array([ 49,  64, 400,   4,   9, 400])

In [200]:
np.exp(a)

array([1.09663316e+03, 2.98095799e+03, 2.06115362e-09, 7.38905610e+00,
       4.97870684e-02, 4.85165195e+08])

In [201]:
a = np.array([2.3, 2.1,2.9, 2.8])
np.ceil(a)

array([3., 3., 3., 3.])

In [202]:
a = np.array([2.3, 2.1,2.9, 2.8])
np.floor(a)

array([2., 2., 2., 2.])

In [203]:
a = np.array([2.8, 9.7, 5.9])
for i in a:
    i = str(i).split(".")
    print(i[0], i[1])

2 8
9 7
5 9

In [204]:
a = np.array([2.8, 9.7, 5.9])
f, w = np.modf(a)
print(w,f, sep="\n")

[2. 9. 5.]
[0.8 0.7 0.9]

In [205]:
np.isnan(np.nan)

True

In [207]:
a = np.array([1,3,5,7])
b = np.array([3,2,2,1])
c = np.array([4,0,2,1])

np.maximum(a,b,c)

array([3, 3, 5, 7])

In [208]:
np.fmax(a,b,c)

array([3, 3, 5, 7])

In [209]:
np.fmax??

# 4.3 Array-Oriented Programming with Arrays

In [210]:
a = np.arange(4*3)
print(a)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [211]:
np.meshgrid(a,a)

[array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]]),
 array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
        [ 2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2],
        [ 3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3],
        [ 4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4],
        [ 5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5],
        [ 6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6],
        [ 7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [ 9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9],
        [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
        [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11]])]

# Expressing Conditional Logic as Array Operations

#### np.where(condition, value_true, value_false)

In [212]:
a = np.arange(8*4).reshape((8,4))
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

np.where(condition, True_block, False_block)

In [214]:
np.where(a%3 == 0, "Yes","No")

array([['Yes', 'No', 'No', 'Yes'],
       ['No', 'No', 'Yes', 'No'],
       ['No', 'Yes', 'No', 'No'],
       ['Yes', 'No', 'No', 'Yes'],
       ['No', 'No', 'Yes', 'No'],
       ['No', 'Yes', 'No', 'No'],
       ['Yes', 'No', 'No', 'Yes'],
       ['No', 'No', 'Yes', 'No']], dtype='<U3')

In [215]:
a = np.array([1,3,5,7])
b = np.array([3,2,2,1])

np.where(a>b, a, b)

array([3, 3, 5, 7])

# Mathematical and Statistical Methods

In [216]:
a = np.arange(3*4).reshape((3,4))
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [217]:
np.sum(a)

66

In [218]:
print(a)
np.sum(a, axis=0)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

array([12, 15, 18, 21])

In [219]:
print(a)
np.sum(a, axis=1)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

array([ 6, 22, 38])

##### Broad Casting

In [220]:
a = np.arange(5*5).reshape((5,5))
print(a)
a + 5

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

array([[ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [221]:
a = np.arange(5*5).reshape((5,5))
b = np.full_like(a, 5)
print(a,b,sep="\n\n")
a + b

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

[[5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]]

array([[ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

## stacking

stacking ->axis 0, 1
vstack
columnstack
rowstack
hstack
block
dstack

#### split

split
dsplit

# > Stackig

In [234]:
import numpy as np
a = np.random.randint(1,10, size=10)
b = a + 5
print(a, b, sep='\n')
print(len(a),len(b))

[5 4 7 6 7 5 4 4 6 3]
[10  9 12 11 12 10  9  9 11  8]
10 10

In [223]:
print(a,b, sep='\n\n')

[2 7 2 4 7 6 6 7 4 1]

[ 7 12  7  9 12 11 11 12  9  6]

In [224]:
print(a,b, sep='\n\n')
np.stack((a,b), axis=0)

[2 7 2 4 7 6 6 7 4 1]

[ 7 12  7  9 12 11 11 12  9  6]

array([[ 2,  7,  2,  4,  7,  6,  6,  7,  4,  1],
       [ 7, 12,  7,  9, 12, 11, 11, 12,  9,  6]])

In [225]:
print(a,b, sep='\n\n')
np.stack((a,b), axis=1)

[2 7 2 4 7 6 6 7 4 1]

[ 7 12  7  9 12 11 11 12  9  6]

array([[ 2,  7],
       [ 7, 12],
       [ 2,  7],
       [ 4,  9],
       [ 7, 12],
       [ 6, 11],
       [ 6, 11],
       [ 7, 12],
       [ 4,  9],
       [ 1,  6]])

In [226]:
# np.stack((a,b), axis=1)
np.column_stack((a,b))

array([[ 2,  7],
       [ 7, 12],
       [ 2,  7],
       [ 4,  9],
       [ 7, 12],
       [ 6, 11],
       [ 6, 11],
       [ 7, 12],
       [ 4,  9],
       [ 1,  6]])

In [227]:
np.stack((a,b), axis=0)

array([[ 2,  7,  2,  4,  7,  6,  6,  7,  4,  1],
       [ 7, 12,  7,  9, 12, 11, 11, 12,  9,  6]])

In [228]:
np.vstack((a,b))

array([[ 2,  7,  2,  4,  7,  6,  6,  7,  4,  1],
       [ 7, 12,  7,  9, 12, 11, 11, 12,  9,  6]])

In [229]:
# 
# 
np.row_stack((a,b))

array([[ 2,  7,  2,  4,  7,  6,  6,  7,  4,  1],
       [ 7, 12,  7,  9, 12, 11, 11, 12,  9,  6]])

In [230]:
np.hstack((a,b))

array([ 2,  7,  2,  4,  7,  6,  6,  7,  4,  1,  7, 12,  7,  9, 12, 11, 11,
       12,  9,  6])

In [231]:
np.vstack((a,b))

array([[ 2,  7,  2,  4,  7,  6,  6,  7,  4,  1],
       [ 7, 12,  7,  9, 12, 11, 11, 12,  9,  6]])

In [232]:
b = np.arange(3*3).reshape((3,3)) 
a = a + 5
print(a, b, sep='\n\n')

[ 7 12  7  9 12 11 11 12  9  6]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [235]:
np.vstack((a,b))

array([[ 5,  4,  7,  6,  7,  5,  4,  4,  6,  3],
       [10,  9, 12, 11, 12, 10,  9,  9, 11,  8]])

In [236]:
np.hstack((a,b))

array([ 5,  4,  7,  6,  7,  5,  4,  4,  6,  3, 10,  9, 12, 11, 12, 10,  9,
        9, 11,  8])

In [237]:
np.column_stack((a,b))

array([[ 5, 10],
       [ 4,  9],
       [ 7, 12],
       [ 6, 11],
       [ 7, 12],
       [ 5, 10],
       [ 4,  9],
       [ 4,  9],
       [ 6, 11],
       [ 3,  8]])

In [239]:
a = np.arange(2*2*2).reshape((2,2,2))
b = a + 7
print(a,b, sep='\n->SecondArray->\n')
np.dstack((a,b))

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]
->SecondArray->
[[[ 7  8]
  [ 9 10]]

 [[11 12]
  [13 14]]]

array([[[ 0,  1,  7,  8],
        [ 2,  3,  9, 10]],

       [[ 4,  5, 11, 12],
        [ 6,  7, 13, 14]]])

In [240]:
a = np.arange(2*2*2).reshape((2,2,2))
b = a + 7
print(a,b, sep='\n->SecondArray->\n')
np.stack((a,b), axis=2)

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]
->SecondArray->
[[[ 7  8]
  [ 9 10]]

 [[11 12]
  [13 14]]]

array([[[[ 0,  1],
         [ 7,  8]],

        [[ 2,  3],
         [ 9, 10]]],


       [[[ 4,  5],
         [11, 12]],

        [[ 6,  7],
         [13, 14]]]])

In [ ]:
np.stack??

In [241]:
a.reshape((2,-1))

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

# Split

In [243]:
a = np.arange(6*6).reshape((6,6))
print(a)
# np.split(a, 6, axis=0)
# np.split(a, 3, axis=0)
np.split(a, 2, axis=0)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 31 32 33 34 35]]

[array([[ 0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11],
        [12, 13, 14, 15, 16, 17]]),
 array([[18, 19, 20, 21, 22, 23],
        [24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35]])]

In [244]:
a = np.arange(6*6).reshape((6,6))
print(a)
np.split(a, 6, axis=1)
np.split(a, 3, axis=1)
np.split(a, 2, axis=1)[0]

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 31 32 33 34 35]]

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14],
       [18, 19, 20],
       [24, 25, 26],
       [30, 31, 32]])

In [245]:
a = np.arange(2*2*2).reshape((2,2,2))
p=print(a)

np.dsplit(a, 2)

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]

[array([[[0],
         [2]],

        [[4],
         [6]]]),
 array([[[1],
         [3]],

        [[5],
         [7]]])]

# Table 4-6. Array set operations

In [246]:
a = np.random.randint(1,10, size=20)
print(a)
np.unique(a)

[4 3 8 8 4 9 4 8 6 8 8 7 4 1 3 4 3 9 2 5]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [249]:
piaic = np.random.randint(1,100, size=30)
cnic = np.random.randint(1,10, size=5)
print(piaic, cnic,sep='\n\n')

[42 93 17 90 24 60 20 70 14 76 79  4 66 36 93 49  9 52 37 65 10 25 25 84
 78 14 93 51 70 17]

[9 9 9 6 1]

In [250]:
[True if x in piaic else False for x in cnic]

[True, True, True, False, False]

In [251]:
[x in piaic for x in cnic]

[True, True, True, False, False]

In [252]:
["Yes" if x in piaic else "NO" for x in cnic]

['Yes', 'Yes', 'Yes', 'NO', 'NO']

In [253]:
print(piaic, cnic,sep='\n\n')
np.in1d(cnic, piaic)

[42 93 17 90 24 60 20 70 14 76 79  4 66 36 93 49  9 52 37 65 10 25 25 84
 78 14 93 51 70 17]

[9 9 9 6 1]

array([ True,  True,  True, False, False])

In [254]:
print(piaic, cnic,sep='\n\n')
c = np.in1d(cnic, piaic)
np.where(c==True,"Yes","No")

[42 93 17 90 24 60 20 70 14 76 79  4 66 36 93 49  9 52 37 65 10 25 25 84
 78 14 93 51 70 17]

[9 9 9 6 1]

array(['Yes', 'Yes', 'Yes', 'No', 'No'], dtype='<U3')

In [255]:
print(piaic, cnic,sep='\n\n')
np.intersect1d(cnic, piaic)

[42 93 17 90 24 60 20 70 14 76 79  4 66 36 93 49  9 52 37 65 10 25 25 84
 78 14 93 51 70 17]

[9 9 9 6 1]

array([9])

In [256]:
print(piaic, cnic,sep='\n\n')
np.union1d(cnic, piaic)

[42 93 17 90 24 60 20 70 14 76 79  4 66 36 93 49  9 52 37 65 10 25 25 84
 78 14 93 51 70 17]

[9 9 9 6 1]

array([ 1,  4,  6,  9, 10, 14, 17, 20, 24, 25, 36, 37, 42, 49, 51, 52, 60,
       65, 66, 70, 76, 78, 79, 84, 90, 93])

In [257]:
print(piaic, cnic,sep='\n\n')
np.setdiff1d(cnic, piaic)

[42 93 17 90 24 60 20 70 14 76 79  4 66 36 93 49  9 52 37 65 10 25 25 84
 78 14 93 51 70 17]

[9 9 9 6 1]

array([1, 6])

In [258]:
# XOR
# 0 0 -> 0
# 1 0 -> 1
# 0 1 -> 1
# 1 1 -> 0
print(piaic, cnic,sep='\n\n')
np.setxor1d(cnic, piaic)

[42 93 17 90 24 60 20 70 14 76 79  4 66 36 93 49  9 52 37 65 10 25 25 84
 78 14 93 51 70 17]

[9 9 9 6 1]

array([ 1,  4,  6, 10, 14, 17, 20, 24, 25, 36, 37, 42, 49, 51, 52, 60, 65,
       66, 70, 76, 78, 79, 84, 90, 93])